apiVersion: apps/v1
kind: Deployment
metadata:
  name: aura-deployment
spec:
  replicas: 4
  selector:
    matchLabels:
      app: aura
  template:
    metadata:
      labels:
        app: aura
    spec:
      containers:
        - name: aura-container
          image: vijaydoclearn/project-aura:INITIAL
          imagePullPolicy: Always
          ports:
            - containerPort: 8080
          resources:
           requests:
              cpu: "100m"
              memory: "128Mi"
           limits:
              cpu: "500m"
              memory: "256Mi"

          readinessProbe:
            httpGet:
             path: /health
             port: 8080
            initialDelaySeconds: 10
            periodSeconds: 5
            failureThreshold: 3

          livenessProbe:
            httpGet:
             path: /health
             port: 8080
            initialDelaySeconds: 20
            periodSeconds: 10
            failureThreshold: 3

